@using LendWeb.ViewModels.Logs

@model LogsModel

@{
    ViewData["Title"] = "Your action log";
}

<h2>Your action log</h2>

@if (Model.LogEntries.Count() > 0)
{
    <table class="table">
        @foreach (var entry in Model.LogEntries)
        {
            <tr>
                <td>@entry.Created</td>
                <td>@entry.Description</td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info" style="max-width: 500px;">
        You haven't performed any actions!
    </div>
}