@using LendWeb.ViewModels.MyObjects

@model LendModel

@{
    ViewData["Title"] = "Lend";
}

<h2>Lend an object</h2>

<div ng-app="">
    <label>Who would you want to lend your object to?</label>
    <form>
        @{var bt = Model.Borrower == LendModel.BorrowerType.User?"user":"contact";}
        <div ng-init="borrowerType='@bt'" />
        <div ng-init="initBt='@bt'" />
        <input id="first" type="radio" name="content" ng-model="borrowerType" value="user"> Other user
        <br />
        <input id="other" type="radio" name="content" ng-model="borrowerType" value="contact"> My own contact
    </form>

    <br />

    <form asp-action="LendToUser" id="lendUser" ng-show="borrowerType == 'user'" ng-cloak>
        <div>
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger" ng-show="borrowerType == initBt"></div>
            <div class="form-group">
                <label asp-for="LendToUser"></label> <br />
                <span asp-validation-for="LendToUser" class="text-danger"></span>
                <input asp-for="LendToUser" class="form-control" />
                <input asp-for="ObjectId" type="hidden"/>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lend" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <form asp-action="LendToContact" id="lendContact" ng-show="borrowerType == 'contact'" ng-cloak>
        <div>
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger" ng-show="borrowerType == initBt"></div>
            <div class="form-group">

                <label>Borrower name</label> <br />
                <span asp-validation-for="LendToName" class="text-danger"></span>
                <input asp-for="LendToName" class="form-control" />
                <br />
                <label>Borrower e-mail</label> <br />
                <span asp-validation-for="LendToEmail" class="text-danger"></span>
                <input asp-for="LendToEmail" class="form-control" />
                <input asp-for="ObjectId" type="hidden" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lend" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>